# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IBM Blockchain Platform VS CODE Extension
*.vscode

# Environment variables
*.env

# Dependency directories (remove the comment below to include it)
vendor/
fablo-target/fabric-docker.sh
fablo-target/fabric-config/.gitignore
fablo-target/fabric-config/configtx.yaml
fablo-target/fabric-config/crypto-config-orderer.yaml
fablo-target/fabric-config/crypto-config-org1.yaml
fablo-target/fabric-config/chaincode-packages/stvgd-chaincode_0.4.0.tar.gz
fablo-target/fabric-config/connection-profiles/connection-profile-orderer.json
fablo-target/fabric-config/connection-profiles/connection-profile-orderer.yaml
fablo-target/fabric-config/connection-profiles/connection-profile-org1.json
fablo-target/fabric-config/connection-profiles/connection-profile-org1.yaml
fablo-target/fabric-config/explorer/config-global.json
fablo-target/fabric-config/explorer/config-org1.json
fablo-target/fabric-config/explorer/connection-profile-org1.json
fablo-target/fabric-docker/channel-query-scripts.sh
fablo-target/fabric-docker/commands-generated.sh
fablo-target/fabric-docker/docker-compose.yaml
fablo-target/fabric-docker/snapshot-scripts.sh
fablo-target/fabric-docker/scripts/base-functions.sh
fablo-target/fabric-docker/scripts/base-help.sh
fablo-target/fabric-docker/scripts/chaincode-functions.sh
fablo-target/fabric-docker/scripts/channel-query-functions.sh
fablo-target/fabric-docker/scripts/cli/channel_fns.sh
fablo-target/hooks/post-generate.sh
stvgd-chaincode.code-workspace
fablo
transaction_data/batch/batch.txdata
transaction_data/prodActivity/prodActivity.txdata
